#credits
{
    background-color: rgb(220, 220, 220);
    border: 5px solid rgb(200, 200, 200);
    width: 90%;
    margin: 15px 25px;
    padding: 20px ;

}

a:link {
    color: #361ca0;
    text-decoration: none;
}
a:visited {
    color: #686dad;
    text-decoration: none;
}
a:active {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #2e9c37;
    text-decoration: none;
}

img
{
    width: 23%;
    height: auto;
}

.listeimage
{
    display: inline;
    margin: 10px 10px;
}
