*
{
    margin: 0;
    padding :0;
    font-family: Arial;
}


#map-leaflet
{
    width : 100%;
    height : 450px;
}

ul
{
    list-style: none;
}

header
{
    height: 100px;
    background-image: url("../img/header-kawaii.png");
    padding: 5px 15px;
    background-position: 0px 140px;
}

header p
{
    font-weight: bold;
    font-size: 21pt;
    color: white;
    font-family: Arial;
}



header time
{
    position: absolute;
    right: 13%;
    top: 0px;
    margin-left: 46px;
}

html
{
    background-image: url("../img/bg-kawaii.jpg");
    background-attachment: fixed;
    height: 100%;
}

body
{
    width: 75%;
    display: block;
    margin: auto;
    background-color: rgb(250, 203, 227);
    min-height: 100%;
    
}

footer
{
    height: 35px;
    line-height: 35px;
    width: 100%;
    background-color: pink;
    text-align: center;
    color: black;

}

#formulaire
{
    background-color: rgb(241, 154, 198);
    border: 5px solid rgb(195, 46, 122);
    width: 45%;    
    float: left;
    margin: 5px;
    padding: 20px 0px;
}

#result
{
    float: right;
    background-color: rgb(241, 154, 198);
    border: 5px solid rgb(195, 46, 122);
    width: 50%;
    margin: 5px;
    overflow: auto;
    padding: 5px;
}

#credits
{
    float: right;
    background-color: rgb(241, 154, 198);
    border: 5px solid rgb(195, 46, 122);
    margin: 5px;
    overflow: auto;
    padding: 5px;
}

.clear
{
    clear: both;
}

fieldset
{
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: rgb(250, 163, 217);
}

fieldset legend
{
    font-weight: bold;
    font-size: 18pt;
}

.optionsMeteo
{
    padding: 10px;
}

.optionsMeteo ul {
  margin-left: 20%;
  list-style: none;
  float: left;
}


.submitButton
{
    padding: 5px;
    display: block;
    margin: 5px auto;
}

.mapButton
{
    display: block;
    margin: auto;
}

table
{
    margin: 15px;
}
table tr td
{
    padding: 20px;
}

table tr:nth-child(2n+1)
{
    background-color: rgb(241, 175, 212);
}

table tr:nth-child(2n)
{
    background-color: rgb(225, 0, 127);
}

table tr td:nth-child(2n)
{
    width: 100%;
}


.hidden
{
    display: none;
}

.showed
{
    display: block;
}

.onglet
{
    height: 30px;
    background-color: red;
    color: pink;
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    border-style: outset;
    border-color: #ff8dfe;
}


a:link {
    color: #b01fa5;
    text-decoration: none;
}
a:visited {
    color: #ffaaec;
    text-decoration: none;
}
a:active {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #c06891;
    text-decoration: none;
}

svg {
    width : 400px;
    height : 400px;
    border : solid 1pt black;
    background-color: white;
}
#dessin * {
    fill-opacity : 0.7;
}

.rectMax
{
    fill : #3cffce;
    stroke-width: 0;
}

.rectMin
{
    fill : #ffa1c0;
    stroke-width: 0;
}
.rectcumul{
    fill: #4ce688;
    stroke-width: 0;
}

svg circle {
    fill : red;
}
svg polygon {
    fill : black;
}
line.axe {
    stroke : #915ef4;
    stroke-width : 1;
}
line.marque {
    stroke : #8d4fc3;
    stroke-width : 1;
}
svg text {
    text-anchor : middle;
    font-size:7pt;

}
img
{
    width: 23%;
    height: auto;
}

.listeimage
{
    display: inline;
    margin: 10px 10px;
}
