*
{
    margin: 0;
    padding :0;
    font-family: Arial;
}


#map-leaflet
{
    width : 100%;
    height : 450px;
}

header
{
    background-image: url("../img/header.jpg");
    padding: 5px 15px;
    background-position: 0px 500px;
}

header p
{
    font-weight: bold;
    font-size: 21pt;
    color: white;
    font-family: Arial;
}

header time
{
    position: absolute;
    right: 13%;
    top: 0px;
    margin-left: 46px;
}

html
{
    background-color: rgb(230,230,230);
    height: 100%;
}

body
{
    width: 75%;
    display: block;
    margin: auto;
    background-color: white;
    min-height: 100%;
    
}

footer
{
    height: 35px;
    line-height: 35px;
    width: 100%;
    background-color: rgb(10, 81, 150);
    text-align: center;
    color: white;

}

#formulaire
{
    background-color: rgb(220, 220, 220);
    border: 5px solid rgb(200, 200, 200);
    width: 45%;    
    float: left;
    margin: 5px;
    padding: 20px 0px;
}

#result
{
    float: right;
    background-color: rgb(220, 220, 220);
    border: 5px solid rgb(200, 200, 200);
    width: 50%;
    margin: 5px;
    overflow: auto;
    padding: 5px;
}

.clear
{
    clear: both;
}

fieldset
{
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: rgb(230, 230, 230);
}

fieldset legend
{
    font-weight: bold;
    font-size: 18pt;
}

.optionsMeteo
{
    padding: 10px;
}

.optionsMeteo ul {
  margin-left: 20%;
  list-style: none;
  float: left;
}


.submitButton
{
    padding: 5px;
    display: block;
    margin: 5px auto;
}

.mapButton
{
    display: block;
    margin: auto;
}

table
{
    margin: 15px;
}
table tr td
{
    padding: 20px;
}

table tr:nth-child(2n+1)
{
    background-color: rgb(235, 235, 235);
}

table tr:nth-child(2n)
{
    background-color: rgb(130, 130, 130);
}

table tr td:nth-child(2n)
{
    width: 100%;
}
